.whoarewe-hero{
  background-image: url('../images/Ellipsefullyellow.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #101010;
}

/* 

 */
